<ul class="nav nav-pills">
  <li class="nav-item">
    <a
      class="nav-link"
      routerLink="/"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/products" routerLinkActive="active"
    >Products</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/checkout" routerLinkActive="active"
    >Checkout</a
    >
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/login" routerLinkActive="active">LogIn</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/profile" routerLinkActive="active"
    >Profile</a
    >
  </li>
</ul>

<router-outlet></router-outlet>
